.sectionTitle {
  display: flex;
  font-size: var(--font-size-016);
  color: var(--font-color-default);
  align-items: center;
  padding: 10px;
}

.achievementList {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.achievementYearHeader {
  color: var(--font-color-default);
  margin-bottom: 10px;
}

.achievementItem {
  display: grid;
  grid-template-columns: 120px 1fr 24px;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--background-color-3);
  cursor: pointer;
}

.achievementItem:hover {
  color: var(--font-color-default);
}

.achievementItem:last-child {
  border-bottom: none;
}

.achievementChevron {
  text-align: center;

}

@media (max-width: 420px) {
  .achievementItem {
    grid-template-columns: 100px 1fr 20px;
  }
}