/* Profile Button */
.buttonProfile {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  height: 40px;
  border-radius: var(--border-radius-008);
  border: 1px solid transparent;
  margin-bottom: var(--margin-002);
  padding: 0 var(--padding-008);
  gap: var(--gap-008);
  cursor: pointer;
  color: var(--font-color-default);
  transition: all 0.2s ease;
}

.buttonProfile:hover {
  color: var(--font-color-hover);
}

/* Profile Photo Container */
.buttonLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 32px;
  width: 32px;
  flex-shrink: 0;
}

/* Profile Photo */
.profilePhoto {
  width: 32px;
  height: 32px;
  background-color: var(--background-color-5);
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

/* Profile Photo Placeholder */
.profilePhotoPlaceholder {
  width: 32px;
  height: 32px;
  background-color: var(--background-color-2);
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-primary-default);
  font-size: 16px;
  transition: all 0.2s ease;
}

.buttonProfile:hover .profilePhotoPlaceholder {
  background-color: var(--background-color-2);
  color: var(--font-color-primary-default);
}

/* Profile Text */
.buttonText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.buttonTextOther {
  font-size: var(--font-size-012);
}

/* Responsive Styles */
@media screen and (min-width: 685px) and (max-width: 1006px) {
  .buttonText {
    display: none;
  }

  .buttonProfile {
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}