.button {
  display: flex;
  align-items: center;
  gap: var(--gap-008);
  padding: var(--padding-014);
  background-color: var(--font-color-default);
  color: var(--font-color-default);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-016);
  font-weight: var(--font-weight-normal);
  border-radius: var(--border-radius-008);
  border: none;
  cursor: pointer;
}

.button.right-align {
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.button.center-align {
  justify-content: center;
}

.button.type-secondary {
  background-color: var(--background-color-secondary-default);
  color: var(--color-white);
  box-shadow: var(--shadow-1);
  transition: all 0.2s ease-in-out;
}

.button.type-secondary:hover {
  background-color: var(--background-color-secondary-hover);
  box-shadow: var(--shadow-2);
}
  
.button.type-primary {
  background-color: var(--background-color-primary-default-1);
  box-shadow: var(--shadow-1);
  color: var(--font-color-default);
  transition: all 0.2s ease-in-out;
}

.button.type-primary:hover {
  box-shadow: var(--shadow-2);
  background-color: var(--background-color-primary-hover-1);
  color: var(--font-color-hover);
}

.button .icon {
  display: flex;
  align-items: center;
}