.containerAccess {
  --container-gap: 5rem; /* Adjust this to change the gap between containers */
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background-color-1);
  font-family: var(--font-family-primary);
  gap: var(--container-gap);
}

.leftContainer {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: var(--padding-016);
  /* Add your background or content styles here */
}

.rightContainer {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: var(--padding-016);
}

.loginSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  padding: var(--padding-016);
  gap: var(--gap-016);
  margin: 3rem 0;
}

/* Responsive: Stack vertically on smaller screens */
@media (max-width: 768px) {
  .containerAccess {
    flex-direction: column;
    --container-gap: 0rem;
  }

  .rightContainer {
    justify-content: center;
  }
  
  .leftContainer {
    display: none; /* Hide left container on mobile */
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-016);
}

.errorMessage {
  color: var(--font-color-status-danger);
  font-size: var(--font-size-012);
  font-weight: var(--font-weight-normal);
  text-align: center;
}

.loginSection p {
  text-align: center;
  font-size: var(--font-size-014);
  color: var(--font-color-muted);
}

.loginSection hr {
  background-color: var(--background-color-primary-default-1);
}

.buttonRegisterText {
  color: var(--font-color-default);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.buttonRegisterText:hover {
  color: var(--font-color-hover);
}

.loginSection h1 {
  color: var(--background-color-secondary-default);
}