.header {
  text-align: left;
  background: var(--color-primary-3);
  padding: 0 var(--padding-016) var(--padding-016) var(--padding-016);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: var(--background-color-secondary-default);
  font-size: var(--font-size-024);
  margin: 0;
  flex: 1;
}

.header > *:not(h1) {
  margin-left: var(--margin-012);
}

@media screen and (max-width: 685px) {
  .header {
    padding-top: var(--padding-016);
    padding-bottom: var(--padding-010);
    padding-left: var(--padding-032);
    padding-right: var(--padding-032);
  }
}
