.complementarySection {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-2);
  border-radius: var(--border-radius);
  padding: 10px;
}

.complementarySponsor {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.complementarySponsor:hover {
  color: var(--font-color-default);
}

.complementarySponsorBanner {
  position: relative;
  flex-grow: 1;
  aspect-ratio: 3/2;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background-color-3);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

.complementarySponsorBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.complementarySponsorInfo {
  position: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.complementarySponsorInfoTitle {
  font-size: var(--font-size-016);
}

.complementarySponsorInfoOther {
  font-size: var(--font-size-014);
}

.complementarySectionTrend {
  position: flex;
  width: 100%;
  box-sizing: border-box;
}

.complementarySectionTrendText {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.complementarySectionTrendPosts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 48px;
  height: 48px;
}

.onlineUser {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  border-radius: var(--border-radius);
}

.onlineUser:hover {
  color: var(--font-color-default);
  cursor: pointer;
}

.onlineUserMoreButtonButton {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  height: 100%;
  z-index: 5;
}

.onlineUserMoreButtonButtonLogo {
  fill: var(--font-color-muted);
}

.onlineUserMoreButtonButtonLogo:hover {
  cursor: pointer;
  fill: var(--font-color-default);
}

.onlineUserPicture {
  width: 32px;
  height: 32px;
  background-color: var(--background-color-6);
  border-radius: 50%;
  flex-shrink: 0;
}

.onlineUserText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}

.onlineUserTextUsername,
.onlineUserTextOther {
  display: flex;
  height: 50%;
  align-items: center;
}

.onlineUserTextOther {
  font-size: var(--font-size-014);
}

.section {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: var(--gap-002);
  padding: 0 var(--padding-012);
}

.sectionTitle {
  display: flex;
  font-size: var(--font-size-016);
  color: var(--font-color-active);
  align-items: center;
  padding: var(--padding-012);
}

.buttonDefault {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  height: 48px;
  border-radius: var(--border-radius-008);
  border: 1px solid transparent;
}

.buttonDefault:hover {
  background-color: var(--background-color-2); 
  color: var(--font-color-default);
  cursor: pointer;
}

.buttonDefault:active,
.buttonDefault.selected:active {
  background-color: var(--background-color-2); 
}

.buttonDefault.selected {
  background-color: var(--background-color-2); 
  color: var(--font-color-default);
}

.buttonText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}

.buttonTextUsername,
.buttonTextOther {
  display: flex;
  height: 50%;
  align-items: center;
}

.buttonTextOther {
  font-size: var(--font-size-012);
}

.buttonLogoContainer {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.hrHorizontal {
  border: none;
  height: 1px;
  background-color: var(--background-color-primary-default-1);
  margin: 10px 0;
}
