:root {
    /* h1 */
    --color-h1: var(--font-color-active);
    --font-family-h1: var(--font-family-primary);
    --font-size-h1: var(--font-size-032);
    --font-style-h1: normal;
    --font-variant-h1: normal;
    --font-weight-h1: var(--font-weight-bold);
    --letter-spacing-h1: normal;
    --line-height-h1: var(--font-size-040);
    --text-transform-h1: none;

    /* h2 */
    --color-h2: var(--font-color-active);
    --font-family-h2: var(--font-family-primary);
    --font-size-h2: var(--font-size-024);
    --font-style-h2: normal;
    --font-variant-h2: normal;
    --font-weight-h2: var(--font-weight-bold);
    --letter-spacing-h2: normal;
    --line-height-h2: var(--font-size-028);
    --text-transform-h2: none;

    /* h3 */
    --color-h3: var(--font-color-active);
    --font-family-h3: var(--font-family-primary);
    --font-size-h3: var(--font-size-020);
    --font-style-h3: normal;
    --font-variant-h3: normal;
    --font-weight-h3: var(--font-weight-semi-bold);
    --letter-spacing-h3: normal;
    --line-height-h3: var(--font-size-024);
    --text-transform-h3: none;

    /* h4 */
    --color-h4: var(--font-color-active);
    --font-family-h4: var(--font-family-primary);
    --font-size-h4: var(--font-size-018);
    --font-style-h4: normal;
    --font-variant-h4: normal;
    --font-weight-h4: var(--font-weight-semi-bold);
    --letter-spacing-h4: normal;
    --line-height-h4: var(--font-size-020);
    --text-transform-h4: none;

    /* h5 */
    --color-h5: var(--font-color-active);
    --font-family-h5: var(--font-family-primary);
    --font-size-h5: var(--font-size-018);
    --font-style-h5: normal;
    --font-variant-h5: normal;
    --font-weight-h5: var(--font-weight-medium);
    --letter-spacing-h5: normal;
    --line-height-h5: var(--font-size-020);
    --text-transform-h5: none;

    /* h6 */
    --color-h6: var(--font-color-active);
    --font-family-h6: var(--font-family-primary);
    --font-size-h6: var(--font-size-016);
    --font-style-h6: normal;
    --font-variant-h6: normal;
    --font-weight-h6: var(--font-weight-normal);
    --letter-spacing-h6: normal;
    --line-height-h6: var(--font-size-018);
    --text-transform-h6: none;
}

:where(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    text-wrap: pretty;
}

:where(h1) {
    color: var(--color-h1);
    font-family: var(--font-family-h1);
    font-size: var(--font-size-h1);
    font-style: var(--font-style-h1);
    font-variant: var(--font-variant-h1);
    font-weight: var(--font-weight-h1);
    letter-spacing: var(--letter-spacing-h1);
    line-height: var(--line-height-h1);
    text-transform: var(--text-transform-h1);
}

:where(h2) {
    color: var(--color-h2);
    font-family: var(--font-family-h2);
    font-size: var(--font-size-h2);
    font-style: var(--font-style-h2);
    font-variant: var(--font-variant-h2);
    font-weight: var(--font-weight-h2);
    letter-spacing: var(--letter-spacing-h2);
    line-height: var(--line-height-h2);
    text-transform: var(--text-transform-h2);
}

:where(h3) {
    color: var(--color-h3);
    font-family: var(--font-family-h3);
    font-size: var(--font-size-h3);
    font-style: var(--font-style-h3);
    font-variant: var(--font-variant-h3);
    font-weight: var(--font-weight-h3);
    letter-spacing: var(--letter-spacing-h3);
    line-height: var(--line-height-h3);
    text-transform: var(--text-transform-h3);
}

:where(h4) {
    color: var(--color-h4);
    font-family: var(--font-family-h4);
    font-size: var(--font-size-h4);
    font-style: var(--font-style-h4);
    font-variant: var(--font-variant-h4);
    font-weight: var(--font-weight-h4);
    letter-spacing: var(--letter-spacing-h4);
    line-height: var(--line-height-h4);
    text-transform: var(--text-transform-h4);
}

:where(h5) {
    color: var(--color-h5);
    font-family: var(--font-family-h5);
    font-size: var(--font-size-h5);
    font-style: var(--font-style-h5);
    font-variant: var(--font-variant-h5);
    font-weight: var(--font-weight-h5);
    letter-spacing: var(--letter-spacing-h5);
    line-height: var(--line-height-h5);
    text-transform: var(--text-transform-h5);
}

:where(h6) {
    color: var(--color-h6);
    font-family: var(--font-family-h6);
    font-size: var(--font-size-h6);
    font-style: var(--font-style-h6);
    font-variant: var(--font-variant-h6);
    font-weight: var(--font-weight-h6);
    letter-spacing: var(--letter-spacing-h6);
    line-height: var(--line-height-h6);
    text-transform: var(--text-transform-h6);
}